a {
  cursor: pointer;
}
.spacer {
  margin-top: 20px;
}
.hspacer {
  margin-left: 20px;
}
.hidescroll {
  overflow:hidden;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #428BCA;
  color: #ffffff;
}
.clickable {
  cursor: pointer;
}
.colDe {
  width: 20%;
}
.colA {
  width: 15%;
}

.clickme {
  width: 500px;
  height: 100px;
}

.box {
  margin: 50px auto;
  background: #5FCF80;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.stats {
  width: 30%;
   word-wrap: break-word;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
